<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFHodEd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CFHodEd.My.MySettings>
            <setting name="D3D_DisplayFrameRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HOD_Owner" serializeAs="String">
                <value />
            </setting>
            <setting name="HOD_TeamColour" serializeAs="String">
                <value>-8421505</value>
            </setting>
            <setting name="HOD_StripeColour" serializeAs="String">
                <value>-8421505</value>
            </setting>
            <setting name="HOD_BadgeTexture" serializeAs="String">
                <value />
            </setting>
            <setting name="HOD_MakeBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HOD_ProcessBGLighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HOD_UseShaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Form_ExceptionDisplay_ClientSize" serializeAs="String">
                <value>384, 284</value>
            </setting>
            <setting name="Form_ExceptionDisplay_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form_HODBGTexGen_ClientSize" serializeAs="String">
                <value>384, 284</value>
            </setting>
            <setting name="Form_HODBGTexGen_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_HODEditorA_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_HODEditorA_Size" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="Form_HODEditorA_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Form_HODType_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_IOResult_ClientSize" serializeAs="String">
                <value>496, 222</value>
            </setting>
            <setting name="Form_IOResult_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_LightEditor_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_MaterialSubstitute_ClientSize" serializeAs="String">
                <value>384, 62</value>
            </setting>
            <setting name="Form_MaterialSubstitute_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_MeshTransformer_ClientSize" serializeAs="String">
                <value>634, 452</value>
            </setting>
            <setting name="Form_MeshTransformer_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_Options_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_TexturePreview_ClientSize" serializeAs="String">
                <value>506, 306</value>
            </setting>
            <setting name="Form_TexturePreview_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_JointSelector_ClientSize" serializeAs="String">
                <value>290, 262</value>
            </setting>
            <setting name="Form_JointSelector_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="Form_JointTemplates_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
        </CFHodEd.My.MySettings>
    </userSettings>
</configuration>
